<style>

h2 {
    text-align: center;
    padding: 16px 32px;
    color: white;
}

.picture {
    background-color: white;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    background-color: white;
}

p {
    color: white;
    text-align: center;
}


</style>

<h2> Welcome abc </h2>

<button onClick="sessionStorage.clear(); window.location.href = 'http://localhost:4200/login';">Log Out </button>

<div id="picture">
    <img id="pic" src="https://png.icons8.com/color/50/000000/abc.png">
</div>

<p> Account created: 01-08-2018 at 03:14 </p>

